.poll-form{
  border: 6px solid #644E5B;
  border-radius: 10px;
 /* box-shadow: 2px 3px #333;*/
  margin-bottom: 10px;
}

.poll-form .poll-info {
  padding: 10px 10px 0px 10px;
  text-align: center;
  background-color: #314455;
  border-bottom: 8px solid #644E5B;
}

.poll-info h2 {
  text-shadow: 1px 2px black;
}

.poll-button {
  margin-bottom: 14px; 
}

.responses {
  margin-top: 4px;
  padding-top: 4%;
  padding-left: 4%;
}

.response {
  padding-bottom: 3%;
}
