.poll-form{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px #DCDCDC;
  margin-bottom: 10px;
}

.poll-form .poll-info {
  padding: 10px 10px 0px 10px;
  text-align: center;
  background-color: lightgray;
  border-bottom: 1px solid #CCCCCC;
}

.poll-info h2 {
  text-shadow: 1px 2px white;
}

#submit-poll {
  margin-bottom: 14px; 
}

.responses {
  margin-top: 4px;
  padding-top: 4%;
  padding-left: 4%;
}

.response {
  padding-bottom: 3%;
}
