<p><a href="" (click)="showEdit($event)">{{editText[showEditForm ? 1 : 0]}}</a> - <a href="" (click)="deletePoll($event)">Delete Poll</a></p>

<div *ngIf="showEditForm" class="text-center edit-poll-form">
  <form (ngSubmit)="editPoll(poll)" #pollForm="ngForm">
   
      <p>Poll Options</p>
      
      <label class="custom-control custom-checkbox">
        <input  type="checkbox" 
                name="select_multiple" 
                #select_multiple="ngModel" 
                [(ngModel)]="poll.select_multiple">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Allow Multiple Responses</span>
      </label>
      
      <label class="custom-control custom-checkbox">
        <input type="checkbox" 
               [checked]="public_results"
               name="public_results" 
               #public_results="ngModel" 
               [(ngModel)]="poll.public_results">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Public Responses</span>
      </label>

      <div class="user-options" *ngIf="tokenService.userSignedIn()">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" 
                 name="published" 
                 #published="ngModel" 
                 [(ngModel)]="poll.published">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Publish this Poll</span>
        </label>
      </div>

    <button class="btn btn-primary btn-lrg" 
            type="submit">
      Edit Poll
    </button>

  </form>

</div>