<div class="poll">
  <div *ngIf="!results; else elseBlock">
    <app-poll-form *ngIf="poll" [poll]="poll" (toggleResults)="toggleResults($event)"></app-poll-form>
  </div>
  <ng-template #elseBlock>
    <app-poll-results (toggleResults)="toggleResults()" 
                      *ngIf="poll" 
                      [poll]="poll"
                      [editable]="editable"
                      (handleEdit)="handleEdit($event)"
                      (handleDelete)="emitDelete($event)"
    ></app-poll-results>
  </ng-template>
</div>