<div class="text-center new-poll-form">
  <form (ngSubmit)="createPoll(poll)" #pollForm="ngForm">

    <div class="row">
      <div class="col-lg-12 col-centered">
        <input type="text" placeholder="First start by asking a question." name="question" #question="ngModel" [(ngModel)]="poll.question" class="form-control no-border form-control-lg input-center" required>
        <br> 
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 col-centered"> 
        <div class="response-section" *ngIf="question.dirty">
          <div class="row">
            <div class="response col-md-6"  
                 *ngFor="let response of poll.responses; let i = index">
              <input type="text" 
                     placeholder="Add up to six choices" 
                     name="response[{{i}}]" 
                     [(ngModel)]="response.text" 
                     [value]="response.text" 
                     [required]="i<2" 
                     (keypress)="checkResponses()"
                     class="form-control no-border">
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="option-section" *ngIf="question.dirty">
   
      <h4>Poll Options</h4>
      
      <label class="custom-control custom-checkbox">
        <input  type="checkbox" 
                name="select_multiple" 
                #select_multiple="ngModel" 
                [(ngModel)]="poll.select_multiple"
                class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Allow Multiple Responses</span>
      </label>
      
      <label class="custom-control custom-checkbox">
        <input type="checkbox" 
               checked
               name="public_results" 
               #public_results="ngModel" 
               [(ngModel)]="poll.public_results" 
               class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Public Responses</span>
      </label>

      <div class="user-options" *ngIf="authService.userSignedIn()">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" 
                 name="published" 
                 #published="ngModel" 
                 [(ngModel)]="poll.published" 
                 class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Publish this Poll</span>
        </label>
      </div>
    </div>
    <br>
    <button class="btn btn-outline-primary btn-lrg" 
            *ngIf="question.dirty"
            [disabled]="!pollForm.form.valid" 
            type="submit">
      Generate Poll
    </button>

  </form>

</div>

<!-- This is code for a reactive form. I might use it later. -->

<!-- <form [formGroup]="pollForm" novalidate>
  <label for="question" class="center-block">Question:</label>
  <input formControlName="question" placeholder="Ask your question here.">

  <div formGroupName="responses">
    <input formControlName="text" placeholder="Place a response here">
  </div>

  <label for="">Select Multiple Options</label>
  <input type="checkbox" formControlName="select_multiple">
  <label for="">Public Responses</label>
  <input type="checkbox" formControlName="public_results">
</form> -->