<div class="row page-head">
  <div class="col-lg-12 text-center">
    <h1>{{user.username}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <ng-container *ngIf="user.polls.length; else elseTemplate">
      <div *ngFor="let poll of user.polls">
        <app-poll [poll]="poll" [editable]="userService.isCurrentUser(user)" (handleDelete)="handleDelete($event)"></app-poll>
      </div> 
  </ng-container>
  <ng-template #elseTemplate>
    <p>This would be a list of all the polls {{user.username}} made... if they made any. :(</p>
  </ng-template>
  </div>
  <div class="col-lg-4">
    <h3>Here are polls {{user.username}} reponded to:</h3>
    <div *ngFor="let vote of user.votes">
     {{user.username}} responded to <strong>{{vote.poll.question}}</strong> with <strong>{{vote.response.text}}</strong>
    </div>
  </div>
</div>